//TODO: cleanup this file, make navbar responsive, menu styling

.sidebar {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--body-bg-2);
    overflow-x: hidden;
    margin-right: 15px;
    float: left;
}

.animate-width {
    transition: width 0.3s;
}

.show {
    display: block;
}

#sidebar.hidden {
    width: 0vw;
}

#main {
    margin-left: 0px;
    transition: margin-left 0.3s;
}

#main.content-slide {
    float: left;
    overflow-x: hidden;
    position: fixed;
    margin-left: 200px;
    width: 100vw;
    overflow-x: hidden;
    transition: margin-left 0.5s;
}

// @media only screen and (min-width: 600px) {
//     /* For Tablet and desktop: */
//     .sidenav {
//         width: 100px;
//         position: fixed;
//     }

//     .content-slide {
//         margin-left: 100px;
//     }
// }
