@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$primary-color: $oc-blue-5;
$link-color: $primary-color;
$link-color-hover: adjust-color($primary-color, $saturation: 20%, $lightness: -5%);
$highlighter: $oc-yellow-1;

:root {
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-size: 16px;
  --body-line-height: 1.5;
  --body-color: $oc-gray-7;
  --body-bg: $oc-red-5;

  --heading-color: var(--gray-900);

  --border-color: var(--gray-300);
  --border-radius: 0.25rem;

  --code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --code-color: var(--grape);
  --code-bg: var(--gray-000);

  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --body-color: var(--gray-300);
//     --body-bg: var(--gray-800);

//     --heading-color: var(--white);

//     --link-color: var(--primary-color);
//     --link-hover-color: var(--blue-400);

//     --border-color: var(--gray-700);

//     --code-bg: var(--gray-900);

//     --sibebar-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
//   }
// }

// Example blue theme
//[data-theme="default"] {
//}
