/* Background Colors */

.bg-primary {
  background: var(--primary);
}

.bg-primary:hover {
  background: var(--primary-lighter);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-bg {
  background: var(--bg-color);
}

.bg-txt {
  background: var(--text-color);
}

.bg-none {
  background: none;
}

.bg-transparent {
  background: transparent;
}

/* Text Colors */

.txt-primary {
  color: var(--primary);
}

.txt-secondary {
  color: var(--secondary);
}

.txt-txt {
  color: var(--text-color);
}

.txt-bg {
  color: var(--bg-color);
}

/* Border Colors */

.border-primary {
  border: solid 2px var(--primary);
}

.border-secondary {
  border: solid 2px var(--secondary);
}

.border-bg {
  border: solid 2px var(--bg-color);
}

.border-txt {
  border: solid 2px var(--text-color);
}

.border-none {
  border: none;
}
