@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #a250ff;
  --primary-lighter: #c695fe;
  --secondary: #2aff63;
  --secondary-a-50: #2aff6388;
  --secondary-lighter: #c3ffd3;
  --bg-color: #0b253c;
  --bg-color-darker: hsla(209, 74%, 9%, 1);
  --bg-color-darkest: #04111e;

  --text-color: hsl(0, 0%, 100%);
  --text-color-darker: hsl(209, 14%, 72%);

  --core-font: 'Open Sans', sans-serif;
  --header-font: 'Playfair Display', sans-serif;

  --border-radius: 3px;
  --content-max-width: 850px;

  --box-shadow-1: hsla(0, 0%, 100%, 0.08) 0px 7px 60px 0px;

  /*Notification Styles*/

  --success-color: var(--secondary);
  --error-color: var(--primary);
  --update-color: hsl(35, 100%, 60%);
  --default-color: hsl(254, 97%, 56%);
}
