.root {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  grid-template-rows: auto;
  gap: 2rem;
}

.col1 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  grid-column: 1 / span 1;
}

.col2 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  grid-column: auto / span 2;
}
