/* HERO SECTION */
.root {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(240px, 1fr)
  );
  background: transparent;
  min-height: 60vh;
}

.root > * {
  border: solid rgb(50, 133, 205) 3px;
}

.col {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #c8cfc9;
  font-size: 0.9rem;
}

.picture {
  border-radius: var(--border-radius);
  /* border: solid 3px hsl(268, 71%, 22%); */
  box-shadow: hsla(268, 71%, 22%, 0.2) 10px 5px 15px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
