.notification {
  display: flex;
  place-content: center;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  padding: 1rem;
  z-index: 99;
  box-shadow: var(--box-shadow-1);
}

.toaster {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.error {
  background-color: var(--error-color);
}

.success {
  background-color: var(--success-color);
  color: var(--bg-color);
}

.update {
  background-color: var(--update-color);
  color: var(--bg-color);
}

.default {
  background-color: var(--default-color);
}
