<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body class="w3-light-grey">

    {%- include navbar.html -%}

    <div class="w3-content" style="max-width:1400px"></div>

    {%- include header.html -%}

    {{content}}


    <!-- Footer -->

    {%- include footer.html -%}


    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';

            } else {
                mySidebar.style.display = 'block';
                document.getElementById("mySidebar").style.width = "100%";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>

</html>